@import "tailwindcss";

@theme {
  --color-primary: #e38528;
  --color-bg: #FCF2E8;
}

@font-face {
  font-family: estedad;
  src: url(../../public/font/Estedad-Light.woff2) format(woff2);
}

* {
  box-sizing: border-box;
  transition: all 0.5s ease;
}

body {
  font-family: estedad;
}

a:hover {
  color: #e38528;
}

.mini-shadow {
  box-shadow: 0 0 10px #0000001a;
}

#portfolio-link:hover {
  color: white;
}